.ns-nav {

    .menu-bar {
        background-color: $dark-blue;
        height: 50px;
        padding: 0 10px;
        display: flex;
    
        &-title {
            cursor: pointer;
            line-height: 50px;
            flex-grow: 1;
            font-size: 22px;
            color: #fff;
            text-decoration: none;
        }
    
        &-item {
            cursor: pointer;
            font-size: 30px;
            color: #fff;
            padding: 5px;
    
            &:hover {
                color: $gray
            }
        }
    }
}